body{
  background-color: rgba(25, 25, 25, 0.9);
  text-align: center;
  justify-content: center;
  margin: 0;
}


.text{
  color: rgba(255, 255, 255, 0.8);
}


.top-image{
  background: url(img/bms.jpg);
  background-size: cover;
  opacity: 0.8;
}
.top-text{
  color: rgba(255,255,255,0.95);
}


.block {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.block-one {
  background: rgb(0, 65, 227);
  background-size: cover;
  height: 100vh;
  z-index: 100;
}
.block-two {
  background: rgb(0, 65, 227);
  background-size: cover;
  height:200vh;
  z-index: 200;
}
