body {
      text-align: center;
      max-width: 700px;
      margin: auto;
}

h1 {
  color: #212020;
}

section p.notice  {
  font-size: small;
  margin-top: -5px;
}
section p.profile  {
  margin: 0px 30px;
  text-align: left;
}
